<div class="flex-column space-y-4  py-4 " [formGroup]="personalData" >
  <div class="grid grid-cols-1  md:grid-cols-2 x  gap-2 sm:gap-4 ">
    <div>
      <label class="input-label">First Name *</label>
      <input pInputText [invalid]="valid(firstName)" placeholder="First Name" class="w-full" formControlName="firstName"  />
      @if (valid(firstName)) {
        <p class="err"> <i class="pi pi-exclamation-circle"></i> First Name is required</p>
      }
    </div>
    <div>
      <label class="input-label">Last Name *</label>
      <input pInputText [invalid]="valid(lastName)" placeholder="Last Name" class="w-full"formControlName="lastName" />
      @if(valid(lastName)) {
        <p class="err"> <i class="pi pi-exclamation-circle"></i> Last Name is required</p>
      }
    </div>
    <div>
      <label class="input-label "  >Gender *</label>
      <p-select [invalid]="valid(gender)"  [options]="genders" placeholder="Gender" class="w-full" formControlName="gender" ></p-select>
      @if (valid(gender)) {
        <p class="err"> <i class="pi pi-exclamation-circle"></i> Gender is required</p>
      }
    </div>
        <div>
      <label class="input-label">National ID *</label>
      <input pInputText [invalid]="valid(nationalId)" placeholder="National ID" class="w-full"  formControlName="nationalID" />
      @if (valid(nationalId)) {
        <p class="err"> <i class="pi pi-exclamation-circle"></i>Invalid National ID</p>
      }
    </div>
        <div>
          <label class="input-label ">Specialty *</label>
          <p-select [invalid]="valid(specialty)" [options]="Specialties" placeholder="Specialty" class="w-full" formControlName="specialty"></p-select>
          @if (valid(specialty)) {
          <p class="err"> <i class="pi pi-exclamation-circle"></i> specialty is required</p>
          }
        </div>
        <div>
          <label class="input-label ">Medical Level *</label>
          <p-select [invalid]="valid(medicalLevel)" [options]="Levels" placeholder="Medical Level" class="w-full" formControlName="medicalLevel"></p-select>
          @if (valid(medicalLevel)) {
          <p class="err"> <i class="pi pi-exclamation-circle"></i> Medical Level is required</p>
          }
        </div>
  </div>
</div>