<div class="flex-column space-y-4  py-4 " [formGroup]="securityData" >
  <div class="grid grid-cols-1 md:grid-cols-2   gap-2 sm:gap-4 ">
    <div>
      <label class="input-label">Password *</label>
      <p-password  [invalid]="valid(password)" placeholder="Password" fluid class="w-full" formControlName="password" [toggleMask]="true" />
      @if (password.invalid && password.touched) {

        <div class="text-red-500 space-y-0" >
          <p class="text-black">Password must conatin at least</p>
          <p>8 characters length</p>
          <p>1 uppercase litter</p>
          <p>1 digit</p>
          <p>1 special character</p>
          
        </div>
      }
    </div>
    <div class="">
      <label class="input-label">Confirm Password *</label>
      <p-password  [invalid]="valid(confirmPassword)" [feedback]="false" placeholder="ConfirmPassword" fluid  [toggleMask]="true"  formControlName="confirmPassword"/>
      @if (confirmPassword.invalid && (confirmPassword.touched || confirmPassword.dirty)) {
        <p class="text-red-500">Password does not match</p>
      }
    </div>
    <div class="col-span-full">
      <hr class="border-gray-400">
    </div>
    <div class="flex col-span-full gap-x-4">
      <p-checkbox [binary]="true" [invalid]="valid(checkBox)" [formControl]="checkBox">
      </p-checkbox>
      <label for="" class="input-label"> I agree to the Terms of Service and Privacy Policy *</label>
    </div>
    <div class="col-span-full">
      <p >By registering, you consent to the collection and use of your health information as described in our privacy policy.</p>
      @if (checkBox.invalid) {
        <p class="text-red-500"> You must accept the terms to Complete Registartion</p>
      }
      </div>
  </div>
</div> 